body {
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
	display: block;
	margin: 0;
	padding: 10px 25px;
	border: 0;
	background-color: #ed705e;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;

	border-radius: 25px;
	
	color: #ffffff;
	text-decoration: none;
	background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
	background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	-webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	        box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	-webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	        box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  }
  
 .button:active {
	color: #fceeec;
	background-color: rgba(0, 0, 0, 0.07);
	background-image: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
	background-image: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -o-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
	        box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
  }

.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
	background-image: url("../img/promo-icecream-1.png");
	background-repeat: no-repeat;
	background-position: top center;

	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

	-o-transition: background-image 0.5s ease, background-color 0.5s ease;

	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("../img/promo-icecream-2.png");
}

.site-wrapper::after {
	background-image: url("../img/promo-icecream-3.png");
}

.catalog-page {
	background-color: rgb(132,157,143);
	background-image: -webkit-gradient( linear, left top, left bottom, from(rgb(157,177,165)), to(rgb(132,157,143)));
	background-image: -webkit-linear-gradient( top, rgb(157,177,165) 0%, rgb(132,157,143) 100%);
	background-image: -o-linear-gradient( top, rgb(157,177,165) 0%, rgb(132,157,143) 100%);
	background-image: linear-gradient( 180deg, rgb(157,177,165) 0%, rgb(132,157,143) 100%);
}

.main-navigation-wrapper {
	width: 100%;
}

.main-navigation-wrapper .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;	
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.site-navigation,
.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 0;
	margin: auto 0;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
	color: #323232;
	background-color: #f7f6f3;
}

.main-header-logo {
	padding-top: 10px; 
}

.navigation-item {
	padding-top: 16px;
	padding-bottom: 12px;
}

.navigation-item > a {
	display: block;
	padding: 8px 15px;
	border-radius: 20px;
	text-decoration: none;
}

.navigation-item > .current-nav-item {
	background-color: #d07058;
}


.navigation-item span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.current-nav-item span {
	border: none;
}

.main-catalog-item {
	position: relative;
}

.sub-navigation {
	min-width: 143px;
	color: #323232;
	display: none;
	list-style: none;
	padding: 0;
	padding-bottom: 8px;
	margin: 0;
	top: 55px;
	left: -7px;
	border-radius: 5px;
	position: absolute;
	background-color: rgb( 248, 247, 244 );
	-webkit-box-shadow: 0px 20px 20px 0px rgb( 0, 0, 0 );
	        box-shadow: 0px 20px 20px 0px rgb( 0, 0, 0 );
	z-index: 1;
}


.sub-navigation p {
	margin: 0;
	padding: 11px 14px;
	font-weight: 700;
	line-height: 16px;
	font-size: 14px;
}

.sub-navigation li:first-child {
	padding: 0;
	margin-left: 6px;
	margin-right: 8px;
	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.sub-navigation .sub-navigation-item {
	display: block;
	color: #323232;
	padding: 6px 20px;
	margin: 0;
	font-weight: 400;
	line-height: 16px;
	font-size: 14px;
}

.main-catalog-item:hover .sub-navigation, 
.main-catalog-item:focus .sub-navigation,
.main-catalog-item:active .sub-navigation {
	display: block;		
}

.user-navigation-item {
	position: relative;
	display: block;
	padding-top: 16px;
	padding-bottom: 12px;
	
}

.search-bar a {
	content: "";
	display: block;
	padding: 0;
	margin: auto 0;
	margin-right: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url("../img/search-icon.svg");
	background-position: center center;
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	cursor: pointer;
}

.search-bar a:hover,
.search-bar a:focus {
	background-color: rgba(255, 255, 255);
	background-image: url("../img/search-icon-hover.svg");
}

.search-form,
.login-container,
.shopping-cart-submenu {
	display: none;
	position: absolute;
	list-style: none;
	right: 0;
	top: 55px;
	border-radius: 6px;
	background-color: rgb( 248, 247, 244 );
	-webkit-box-shadow: 0px 20px 20px 0px rgb( 0, 0, 0 );
	        box-shadow: 0px 20px 20px 0px rgb( 0, 0, 0 );
	z-index: 1;
}

.login-link:hover .login-container,
.login-link:focus .login-container,
.login-link:active .login-container {
	display: block;
}

.search-text,
.user-password,
.user-email {
	margin: 20px 16px;
	padding: 9px 0;
	padding-left: 15px;
	width: 315px;

	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 211, 211, 210 );
}

.search-text:hover,
.user-email:hover,
.user-password:hover {
	border-style: solid;
	border-width: 2px;
	border-color: rgba( 154, 154, 154, 0.5 );
	margin: 19px 15px;
}

.user-email {
	margin: 10px 16px;
	width: 240px;
}

.user-email:hover {
	margin: 9px 15px;
}

.user-password {
	width: 240px;
	margin-top: 0;
	margin-bottom: 10px;
}

.user-password:hover {
	margin-top: -1px;
	margin-bottom: 9px; 
}


.search-bar:hover .search-form {
	display: block;
}

.login-link > a {
	display: block;
	color: #ffffff;
	font-weight: 500;
	padding: 8px 15px;
	padding-left: 45px;
	margin: 0;
	margin-right: 10px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.login-link > a:hover,
.login-link > a:focus {
	color: rgb( 50, 50, 50 );
	background-color: rgb(255, 255, 255);
}

.login-link > a::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url("../img/login.svg");
	background-repeat: no-repeat;
	background-position: top left;
	left: 15px;
	top: 22px;
}

.login-link > a:hover::before,
.login-link > a:focus::before {
	background-image: url("../img/login-hover.svg");
}

.shopping-cart a {
	display: block;
	color: #ffffff;
	font-weight: 500;
	padding: 8px 15px;
	padding-left: 45px;
	padding-right: 30px;
	margin: 0;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	position: relative;
	cursor: pointer;
}

.shopping-cart a::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url("../img/recycle.svg");
	background-repeat: no-repeat;
	background-position: top left;
	left: 15px;
	top: 6px;
}

.shopping-cart a:hover::before,
.shopping-cart a:focus::before {
	background-image: url("../img/cart-hover.svg");
}

.shopping-cart .recycle-filled {
	background-color: #f7f6f3;
	color: #323232;
}

.shopping-cart .recycle-filled::before {
	background-image: url("../img/cart-filled.svg");
}

.shopping-cart .recycle-filled:hover::before,
.shopping-cart .recycle-filled:focus::before {
	background-image: url("../img/cart-filled.svg");
}

.shopping-cart-submenu {
	padding: 20px 15px;
	display: none;
	min-width: 542px;
	color: #323232;
}

.shopping-cart:hover .shopping-cart-submenu {
	display: block;
}

.shopping-cart-submenu .button {
	float: right;
}

.shopping-cart-item-list {
	list-style: none;
	padding-left: 72px;
	padding-right: 18px;
	margin-bottom: 32px;
	position: relative;
}

.shopping-cart-item-list:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #cacac7;
	bottom: -17px;
	right: 0;
}  

.shopping-cart-item-list .shopping-cart-item:not(:last-child) {
	margin-bottom: 32px;
}

.shopping-cart-item {
	position: relative;
}

.ordered-icecream {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}

.ordered-icecream::before {
	content: "";
	position: absolute;
	left: -47px;
	top: -9px;
	height: 33px;
	width: 33px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}



.ordered-icecream-1::before {
	background-image: url("../img/hit-icecream-1.jpg");
}

.ordered-icecream-2::before {
	background-image: url("../img/hit-icecream-3.jpg");
}

.icecream-name {
	width: 225px;
}

.icecream-price {
	opacity: 0.7;
}

.delete-icecream {
	position: absolute;
	border: 0;
	font-size: 0;
	background-color: transparent;
	cursor: pointer;
	height: 15px;
	width: 15px;
	top: 0;
	left: -73px;
}

.delete-icecream::before,
.delete-icecream::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 0px;

	width: 15px;
	height: 1px;
	background-color: #231f20;
}

.delete-icecream::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.delete-icecream::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.total-price {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	
	text-align: right;
}



.main-contact-info.container {
	text-align: right;
}

.main-business-hours {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	
	margin: 0;
	padding: 0;
	
	margin-bottom: 5px;
}

.main-phone-number {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	
	margin: 0;
	padding: 0;
}

.site-navigation {
	line-height: 18px;
	list-style: none;
}

.site-navigation a {
	color: #ffffff;
	font-weight: 700;
}


.site-navigation a:hover,
.site-navigation a:focus {
	color: #323232;
	background-color: #f7f6f3;
}

.site-navigation a:active {
	background-color: rgba(234, 234, 234, 1);
	-webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	        box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.sub-navigation {
	list-style: none;
}

.sub-navigation a {
	text-decoration: none;
}


.sub-navigation a:hover,
.sub-navigation a:focus {
	background-color: #fbded7;
}

.sub-navigation .current {
	background-color: #d07058;
	color: #ffffff;
}

.sub-navigation a:active {
	background-color: #f6b5a5;
}

.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	margin-left: auto;
	
	list-style: none;
}

.user-navigation a {
	text-decoration: none;
}

.login-container {
	background-color: #f8f7f4;
	color: #323232;
}

.login-container p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.login-container a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}

.login-form .button {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 20px;
}

.login-form .restore,
.login-form .new-user {
	color: #323232;
	border-bottom: 1px solid #323232;

}

.business-hours {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.phone-number {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.catalog-header {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;

	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.breadcrumbs {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	margin-top: -20px;
	margin-bottom: 8px;
	list-style: none;
}

.crumb {
	display: inline-block;
}

.crumb::after {
	content: "»";
	margin-left: 8px;
	margin-right: 8px;
}

.crumb:last-child {
	margin-right: 0;
}

.crumb:last-child::after {
	content: "";
}

.crumb a {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.crumb a:hover,
.crumb a:focus,
.crumb a:active {
	color: #f8ba9d;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.filter-form {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 860px;
	margin-bottom: 40px;
}

.filter-form fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

.filter-header {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;

	padding-left: 15px;
	margin-bottom: 5px;
}

.filter-wrapper {
	position: relative;
	
	margin: 0;
	margin-bottom: 12px;
	padding: 8px 20px;
	border-radius: 25px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	background-color: rgba( 248, 247, 244, 0.2 );
}

.filter-sort .filter-wrapper {
	width: 195px;
}

.filter-wrapper select {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	width: 165px;
	padding-right: 20px;
	overflow: hidden;
	
	border: none;
	background-color: rgba( 248, 247, 244, 0 );
	color: #ffffff;
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
	margin-right: auto;
}

.filter-wrapper svg {
	position: absolute;
	right: 15px;
	top: 14px;
	pointer-events: none;
}

.filter-wrapper polyline {
	fill: #ffffff;
}

.filter-wrapper:hover polyline {
	fill: #231F20;
}

.filter-wrapper:hover select {
	color: #000000;
}

.filter-price input {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;

	color: #ffffff;
	border: none;
	
	background-color: transparent;
	width: 60px;
}

.min-price::after {
	content: "-";
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-price .filter-wrapper {
	width: 219px;
	padding: 16px 21px;
}

.range-controls {
	width: 176px;
	height: 4px;
	background-color: rgba( 248, 247, 244, 0.4 );
	position: relative;
}

.bar {
	margin-left: 16px;
	width: 108px;
	height: 4px;
	background-color: rgba( 248, 247, 244, 1 );
}

.range-toggle {
	width: 4px;
	height: 4px;
	border: 7px solid #ffffff;
	border-radius: 50%;
	position: absolute;
	background-color: #ababab;
	cursor: pointer;
}

.range-toggle:hover {
	width: 5px;
	height: 5px;
	border: 8px solid #ffffff;
}

.range-toggle-min {
	top: -8px;
	left: 12px;
}

.range-toggle-max {
	top: -8px;
	left: 112px;
}



.filter-fat .filter-wrapper {
	min-width: 416px;
}


.fat-toggle {
	display: none;
}

.fat-toggle + label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	position: relative;
	margin-left: 30px;
	margin-right: 15px;
}

.fat-toggle + label:last-child {
	margin-right: 0;
}

.fat-toggle + label::before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	left: -28px;
	
	border: 3px solid rgba(255, 255, 255, 0.8);
	border-radius: 50%;
}

.fat-toggle + label::after {
	content: "";
	width: 9px;
	height: 9px;
	position: absolute;
	left: -22px;
	top: 5px;
	
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	display: none;
}

.fat-toggle + label:focus::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.fat-toggle:checked + label::after {
	display: block;
}

.fat-toggle + label:hover::before {
	border: 3px solid rgba(255, 255, 255, 1);
}

.fat-toggle + label:hover::after {
	background-color: rgba(255, 255, 255, 1);
}

.filler-toggle {
	display: none;
}

.filler-toggle + label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	margin-left: 32px;
	margin-right: 15px;
	position: relative;

	text-transform: lowercase;
}

.filler-toggle + label:last-child {
	margin-right: 0;
}

.filler-toggle + label::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	left: -34px;
	background-image: none;
}

.filler-toggle + label:hover::before {
	border: 2px solid rgba(255, 255, 255, 1);
}

.filler-toggle + label:focus::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.filler-toggle:checked + label::after {
	content: "";
	width: 23px;
	height: 23px;
	left: -34px;;
	position: absolute;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.8;
}

.filler-toggle:checked + label:hover::after {
	opacity: 1;
}

.filter-submit .filters-submit {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	color: #ffffff;
	border: 2px solid #fbfcfb;
	
	margin: 0;
	margin-bottom: 12px;
	padding: 7px 30px;
	border-radius: 25px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	background-color: rgba( 248, 247, 244, 0.2 );
	
	margin-top: 20px;
	cursor: pointer;
}

.filters-submit:hover,
.filters-submit:focus {
	background-color: rgb( 255, 255, 255 );
	color: rgb( 50, 50, 50 );
}

.filters-submit:active {
	background-color: rgb( 237, 237, 237 );
	-webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	        box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
	padding: 9px 32px;
	border: none;

}

.main-promos {
	position: relative;

	padding-top: 270px;
	text-align: center;
}

.slider-controls {
	position: absolute;
	bottom: 20px;
	left: 0;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}


#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/promo-icecream-1.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/promo-icecream-2.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/promo-icecream-3.png");
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}

.carousel {
	list-style: none;

	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.carousel-item {
	display: none;
}

.carousel-item h3 {
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 700;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	padding: 0;
	
	text-align: center;
}

.carousel-button {
	font-size: 32px;
	line-height: 44px;
	margin: auto;
	text-align: center;
	padding: 10px 0px;
	border-radius: 40px;
	width: 280px;
	border: none;
	text-decoration: none;
}

.best-offer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
	margin-bottom: 37px;
	padding: 0;
}

.best-offer-item {
	width: 520px;
	border-radius: 15px;
	margin: 0;
	padding: 20px;
	padding-bottom: 22px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.best-offer-item.raspberies {
	background-color: #610008;
	background-image: url("../img/raspberry-background.jpg");
}

.best-offer-item.chocolates {
	background-color: #422411;
	background-image: url("../img/chocolate-background.jpg");
}

.best-offer-item h3 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.best-offer-item p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;

	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.best-offer-item .button {
	float: right;
}

.catalog {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	list-style: none;
}

.catalog-item {
	margin: 0;
	padding: 0;
	width: 267px;
	position: relative;
	margin-bottom: 40px;
}

.catalog-item::after {
	content: "";
	position: absolute;
	top: -6px;
	left: -13px;
	width: 293px;
	height: 406px;
	z-index: -1;
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.2);
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	display: none;
}


.catalog-item:hover::after {
	display: block;
}

.catalog-item:hover {
	z-index: 3;
}


.hit::before {
	position: absolute;
	content: "";
	width: 63px;
	height: 63px;
	background-color: #fff;
	left: 0;
	top: 0;
	background-image: url("../img/hit.svg");
	border-radius: 50%;
}

.catalog-item img {
	border-radius: 50%;
	background-color: transparent;
	margin-bottom: 10px;
}


.catalog-item .price {
	position: absolute;
	top: 195px;
}

.price .unit {
	padding-left: 30px;
}

.price .unit::before {
	content: "";
	width: 30px;
	height: 36px;
	top: 5px;
	right: 40px;
	background-color: transparent;
	background-image: url("../img/rub.svg");
	background-repeat: no-repeat;
	background-position: top center;
	position: absolute;


}

.catalog-item img + a {
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
	padding: 0 7px;
	
	
	
	color: #ffffff;
	display: block;
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
	color: #f8ba9d;
}

.catalog-item .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	display: none;
	position: absolute;
	bottom: -60px;
	left: 27px;
}

.catalog-item:hover .button {
	display: block;
	color: #ffffff;
}

.value {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}

.unit {
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
}

.pages {
	position: relative;
	
	list-style: none;
	text-align: right;
	margin: 0;
	padding: 0;
	margin-top: 38px;
	margin-bottom: 45px;
}

.pages::after {
	content: "";
	position: absolute;
	width: 99%;
	height: 1px;
	background-color: #ffffff;
	right: 8px;
	top: 57px;
	opacity: 0.3;
}

.pages li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.page a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	margin: 0;
	padding: 6px 10px;
	border-radius: 50%;
	
	text-decoration: none;
	color: #ffffff;
	display: block;
	
}

.page path {
	fill: #ffffff;
}


.page a:hover,
.page a:focus {
	background-color: rgba(255, 255, 255, 0.5);
}

.current a {
	cursor: default;
	pointer-events: none;
}

.current a,
.page a:active {
	color: #323232;
	background-color: #ffffff;
}

.page a:active path {
	fill: #323232;
}

.page:first-child svg {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}



.inactive a {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

.inactive path {
	opacity: 0.5;
}

.advantages {
	padding: 25px 20px;
	padding-bottom: 0;
	color: #323232;
	background-color: #ede0c8;
	background-image: url("../img/wafer-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 18px;
	margin-bottom: 40px;
}

.advantages-lead {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.advantages-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.advantages-list-left,
.advantages-list-right {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	width: 540px;
	padding: 0;
	margin: 0;
	padding-left: 56px;
	padding-right: 20px;
	list-style: none;
}

.advantages-list-right {
	padding-right: 10px;
}

.advantages-list-left li,
.advantages-list-right li {
	position: relative;
	
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.advantages-list-left li:before,
.advantages-list-right li:before {
	position: absolute;
	content: "";
	left: -57px;
	top: -18px;
	width: 52px;
	height: 52px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.first::before {
	background-image: url("../img/icecream-icon.svg");
}

.second::before {
	background-image: url("../img/leaf-icon.svg");
}

.third::before {
	background-image: url("../img/cow-icon.svg");
}

.fourth::before {
	background-image: url("../img/thermometer-icon.svg");
}

.index-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 40px;
	
	color: #323232;
}

.news {
	width: 560px;
	padding: 23px 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 15px;
	
	background-color: #ffffff;
	background-image: url("../img/strawberry-background.jpg");
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

.latest-news {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

	padding: 0;
	margin: 0;
}

.news a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	
	width: 284px;
	display: inline-block;
	
	color: #323232;
}

.news a:hover {
	color: #e84d37;
}

.subscribe {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	width: 560px;
	border-radius: 15px;
	margin: 0;
	padding: 6px;
	
	background-color: #f8f7f4;
	background-image: url("../img/post-background.svg");
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

.subscribe-wrapper {
	background-color: #f8f7f4;
	margin: 0;
	padding: 0;
	border-radius: 15px;
	padding: 30px 20px;
	padding-bottom: 10px;
}

.subscribe-text {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
}

.subscribe-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 20px;
}

.subscribe-form input {
	width: 339px;
	border-radius: 5px;
	padding: 10px 12px;
	border: 1px solid #d3d3d3;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.subscribe-form input:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	padding: 9px 11px;
}

.map {
	background-color: #ede0c8;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: top 0;
	background-size: cover;
	position: relative;
	margin: 0;
	padding: 0;
	margin-left: -27px;
	width: 1200px;
	height: 430px;
}

.map::before {
	background-color: transparent;
	background-image: url("../img/icecream-on-map.png");
	content: "";
	width: 218px;
	height: 142px;
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	left: 267px;
	top: 140px;
	z-index: 1;
}

.map iframe {
	position: relative;
	border: none;

	z-index: 2;
}

.contact-info {
	width: 304px;
	margin: 0;
	padding: 28px 23px;

	border-radius: 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	background-color: #ffffff;
	color: #323232;
	position: absolute;
	top: 44px;
	right: 27px;
	z-index: 3;
}

.contact-info a {
	background-color: #ef603f;
}

.address {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.address strong {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.phone-number {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;

	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.phone-number strong {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.footer-social-list {
	list-style: none;
}

.main-footer {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	margin: 0;
	padding: 0;
}

.main-footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	-ms-flex-line-pack: center;
	
	    align-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 15px;
	padding-bottom: 20px;
}

.main-footer a {
	color: #ffffff;
}

.footer-social {
	padding: 0;
	margin: 0
}

.footer-social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	
}

.footer-social-list li:not(:last-child) {
	margin-right: 10px;
}

.social-button {
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(254, 254, 254, 0.5);
	font-size: 0;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.7;
}

.social-button:hover,
.social-button:focus {
	opacity: 1;
	background-color: rgba(254, 254, 254, 0.75);
}

.social-button:active {
	opacity: 0.6;
	background-color: rgba(254, 254, 254, 0.7);
}

.social-button.twitter {
	background-image: url("../img/twitter.svg");
}

.social-button.instagram {
	background-image: url("../img/instagram.svg");
}

.social-button.fb {
	background-image: url("../img/fb.svg");
}

.social-button.vk {
	background-image: url("../img/vk.svg");
}


.legal-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;

}

.legal-info a:hover,
.legal-info a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
	color: #f8ba9d;
}

.legal-info .left {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 28px;
}

.legal-info .right {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bold-href {
	font-weight: bold;
	position: relative;
}

.bold-href::before {
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: transparent;
	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	top: 2px;
	left: -20px;
	
}

.footer-logo {
	width: 110px;
	background-size: cover;
	
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		        transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		        transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
}

.modal {
	margin: 0;
	position: fixed;
	z-index: 5;
	display: none;
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 15px;
}

.modal-feedback {
	
	width: 480px;
	height: 445px;
	top: 338px;
	left: 50%;
	padding: 17px 26px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	background-color: #323232;
	z-index: 4;
	display: none;
}

.modal-show {
	display: block;

	-webkit-animation: bounce 0.6s;

	        animation: bounce 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
	        animation: shake 0.6s;
}

.wrapper-show {
	display: block;
}

.feedback-first-line {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;

	margin: 0;
	padding: 0;
	margin-bottom: 19px;
}

.modal-feedback {
	margin-left: -238px;
	
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.feedback-form p {
	margin: 0;
	padding: 0;
	padding-bottom: 22px;
}

.feedback-form input {
	font: inherit;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	padding: 10px 15px;
	margin: 0;
	
	
	border-radius: 5px;
	border: 1px solid #d3d3d3;
	width: 267px;
}

.feedback-form input:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	padding: 9px 14px;
}

.feedback-form .feedback-textarea {
	font: inherit;
	
	-webkit-box-sizing: border-box;
	
	        box-sizing: border-box;
	padding: 10px 15px;
	margin: 0;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
	resize: none;
	margin-bottom: 10px;
}

.feedback-form .feedback-textarea:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
	padding: 9px 14px;
}

.feedback-form .button {
	float: right;
}

.modal-close {
	font-size: 0;
	background-color: transparent;
	cursor: pointer;
	border: 0;

	position: absolute;
	width: 24px;
	height: 24px;
	top: 13px;
	right: 16px;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 12px;
	left: 3px;

	width: 18px;
	height: 2px;
	background-color: #231f20;
}

.modal-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}